{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
<body>
    <a href="{{ path('app_generateur_profil') }}">Générateur de profil aléatoire avec API</a>
    <a href="{{ path('app_generateur_nom') }}">Générateur de noms aléatoire</a>
    <a href="{{ path('app_portfolio') }}">Mon portfolio</a>
</body>
{% endblock %}
