<h1>Votre message a bien été envoyer, Merci !</h1>

<p>Récapitulatif :</p>
<p>Document(s) joint : {{ nbFiles }}</p>
<p>Nom du projet : {{ contact.projectName }}</p>
<p>Description du projet : {{ contact.projectDescription }}</p>
<p>Je fait tout mon possible pour vous répondre le plus rapidement, Merci pour votre confiance.</p>