<div class="row mb-5">
    <div class="col-sm m-auto text-center">
        <h3 class="titre">Ici vous trouverez toutes mes expériences professionnelles</h3>
    </div>
</div>

<div class="row mb-5">
    <div class="col-lg-12">
        <p>
            Mars 2022 - Novembre 2022 | Développeur web | Trenois Decamps
            Travail en équipe, autonomie, sens de l'organisation, réactivité.
        </p>
        <p>
            Août 2017 - Novembre 2022 | Réceptionnaire | Auchan Drive
            Travail en équipe, polyvalence, autonomie, sens de l'organisation, réactivité.
        </p>
        <p>
            Janvier 2017 - Avril 2017 | Employé Emballage / Prélèvement | Dispeo
            Organisation, efficacité, esprit d'équipe, autonomie.
        </p>
        <p>
            2015- 2016 | Apprenti Boulanger | Le Carillon
            Polyvalence, persévérance, sens de l'organisation, esprit d'équipe.
        </p>
    </div>
</div>
{% include "portfolio/articles.html.twig" %}