<div class="row mb-5">
    <div class="col-sm m-auto text-center">
        <h3 class="titre">Ici vous trouverez toutes mes expériences professionnelles</h3>
    </div>
</div>

<div class="row mb-5">
    <div class="col-lg-12">
        <p>
            Mars 2022 - Novembre 2022 | Développeur web | Trenois Decamps
            Travail en équipe, autonomie, sens de l'organisation, réactivité.
        </p>
        <p>
            Août 2017 - Novembre 2022 | Réceptionnaire | Auchan Drive
            Travail en équipe, polyvalence, autonomie, sens de l'organisation, réactivité.
        </p>
        <p>
            Janvier 2017 - Avril 2017 | Employé Emballage / Prélèvement | Dispeo
            Organisation, efficacité, esprit d'équipe, autonomie.
        </p>
        <p>
            2015- 2016 | Apprenti Boulanger | Le Carillon
            Polyvalence, persévérance, sens de l'organisation, esprit d'équipe.
        </p>
    </div>
</div>

<div class="row justify-content-between">
    <div class="col-lg-3 card mb-3">
        <img class="card-img-top" src="{{ image_symfony }}" alt="article symfony">
        <div class="card-body">
            <h5 class="card-title">Framework Symfony</h5>
            <p class="card-text" style="color: black;">Symfony est un ensemble de composants PHP, un framework d'application Web, une philosophie et une communauté - tous travaillant ensemble en harmonie.</p>
            <a href="https://symfony.com/what-is-symfony" class="btn btn-primary">Voir</a>
        </div>
    </div>
    <div class="col-lg-1"></div>
    <div class="col-lg-3 card mb-3">
        <img class="card-img-top" src="{{ image_chatgpt }}" alt="article chatgpt">
        <div class="card-body">
            <h5 class="card-title">ChatGPT</h5>
            <p class="card-text" style="color: black;">ChatGPT est un prototype d'agent conversationnel utilisant l'intelligence artificielle, développé par OpenAI et spécialisé dans le dialogue.</p>
            <a href="https://openai.com/blog/chatgpt/" class="btn btn-primary">Voir</a>
        </div>
    </div>
    <div class="col-lg-1"></div>
    <div class="col-lg-3 card mb-3">
        <img class="card-img-top" src="{{ image_blog }}" alt="mon blog">
        <div class="card-body">
            <h5 class="card-title">Blog avec back office</h5>
            <p class="card-text" style="color: black;">Blog crée avec Symfony, avec gestion des articles, du blog et des utilisateurs dans le back office et sytème de connexion.</p>
            <a target="_blank" href="https://phpstack-954033-3324375.cloudwaysapps.com/" class="btn btn-primary">Voir</a>
        </div>
    </div>
</div>