<div class="row mb-5">
    <div class="col-sm m-auto text-center">
        <h3 class="titre">Mes expériences professionnelles</h3>
    </div>
</div>

<div class="row mb-5 bg-light rounded-5 w-75 m-auto py-5">

    <div class="col-lg-12 text-black fw-bold text-center">
        Mars 2022 - Novembre 2022
    </div>
    <div class="col-lg-4"></div>
    <div class="col-lg-8 text-black mb-2" style="border-left: 3px solid red;">
        Développeur web : Trenois Decamps
        <br/>
        Travail en équipe, autonomie, sens de l'organisation, réactivité.
    </div>
    <div class="col-lg-2"></div>
    <div class="col-lg-8">
        <hr style="border-color: red !important;" class="border border-2 opacity-50">
    </div>
    <div class="col-lg-2"></div>

    <div class="col-lg-12 text-black fw-bold text-center">
        Août 2017 - Novembre 2022
    </div>
    <div class="col-lg-4"></div>
    <div class="col-lg-8 text-black mb-2" style="border-left: 3px solid red;">
        Réceptionnaire : Auchan Drive
        <br/>
        Travail en équipe, polyvalence, autonomie, sens de l'organisation, réactivité.
    </div>
    <div class="col-lg-2"></div>
    <div class="col-lg-8">
        <hr style="border-color: red !important;" class="border border-2 opacity-50">
    </div>
    <div class="col-lg-2"></div>

    <div class="col-lg-12 text-black fw-bold text-center">
        Janvier 2017 - Avril 2017
    </div>
    <div class="col-lg-4"></div>
    <div class="col-lg-8 text-black mb-2" style="border-left: 3px solid red;">
        Employé Emballage / Prélèvement : Dispeo
        <br/>
        Organisation, efficacité, esprit d'équipe, autonomie.
    </div>
    <div class="col-lg-2"></div>
    <div class="col-lg-8">
        <hr style="border-color: red !important;" class="border border-2 opacity-50">
    </div>
    <div class="col-lg-2"></div>

    <div class="col-lg-12 text-black fw-bold text-center">
        Septembre 2015 - Juillet 2016
    </div>
    <div class="col-lg-4"></div>
    <div class="col-lg-8 text-black mb-2" style="border-left: 3px solid red;">
        Apprenti Boulanger : Le Carillon
        <br/>
        Polyvalence, persévérance, sens de l'organisation, esprit d'équipe.
    </div>

</div>
{% include "portfolio/articles.html.twig" %}