<div class="row">
        <div class="col-sm m-auto text-center">
            <!--<img style="border-radius: 15%;" src="../../images/received_5457719520910618.jpeg" width="300" alt="photo de profil"/>-->
        </div>
        <div class="col-sm">
            <p>
                Septembre 2021 - Mai 2022 - Titre professionnel de développeur web et web mobile - Foreach Academy
                Technologies utilisées : HTML, CSS, JavaScript, PHP, MySql, React, Symfony.
            </p>
            <p>
                Utilisation de CMS : WordPress, PrestaShop.
                Projets : Distribution de cadeaux de Noël aléatoire, ToDoList.
            </p>
            <p>
                Mai - Juin 2017 - CACES 1/3/5 - Titre professionnel de préparateur de commandes - Loginov Formation
                Titre professionnel et CACES obtenu.
            </p>
            <p>
                Juillet 2015 - Septembre 2016 - Boulanger - CFA de
                Tourcoing
                Apprenti boulanger.
            </p>
        </div>
</div>