<footer>
    <div class="footer">
        <div class="container">
            <div class="row">
                <div class="col-md-6 text-center">
                    <a class="logo_footer" href="{{ path('app_home') }}">
                        <img style="width: 11rem; border-radius: 10%;" src="{{ asset('Images/Logo_mehdi_3.png') }}" alt="logo développeur web php symfony mehdi birembaut">
                    </a>
                </div>
                <div class="col-md-3 text-center">
                    <div class="Informa helpful">
                        <h3>Naviguation</h3>
                        <ul>
                            <li><a href="#we_do">Ce que je fais</a></li>
                            <li><a href="#portfolio">Mes travaux</a></li>
                            <li><a href="#contact">Contactez-moi</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="copyright text_align_left">
            <div class="container">
                <div class="row d_flex">
                    <div class="col-md-6">
                        <p>© 2023 All Rights Reserved.  <a href="https://html.design/"> Free Html Template</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>