<footer>
    <div class="footer">
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <a class="logo_footer" href="{{ path('app_portfolio') }}">
                        <img style="width: 11rem; border-radius: 10%;" src="{{ asset('Images/Logo_mehdi_3.png') }}" alt="logo développeur web php symfony mehdi birembaut">
                    </a>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="Informa helpful">
                        <h3>Naviguation</h3>
                        <ul>
                            <li><a href="#we_do">Ce que je fais</a></li>
                            <li><a href="#portfolio">Mes travaux</a></li>
                            <li><a href="#contact">Contactez-moi</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="Informa">
                        <h3>company</h3>
                        <ul>
                            <li>It is a long established
                            </li>
                            <li>fact that a reader will
                            </li>
                            <li>be distracted by the
                            </li>
                            <li>readable content of a
                            </li>
                            <li>page when
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="Informa conta">
                        <h3>contact Us</h3>
                        <ul>
                            <li> <a href="Javascript:void(0)"> <i class="fa fa-map-marker" aria-hidden="true"></i> Location
                                </a>
                            </li>
                            <li> <a href="Javascript:void(0)"><i class="fa fa-phone" aria-hidden="true"></i> Call +01 1234567890
                                </a>
                            </li>
                            <li> <a href="Javascript:void(0)"> <i class="fa fa-envelope" aria-hidden="true"></i> demo@gmail.com
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="copyright text_align_left">
            <div class="container">
                <div class="row d_flex">
                    <div class="col-md-6">
                        <p>© 2023 All Rights Reserved.  <a href="https://html.design/"> Free Html Template</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>