<div class="row mb-5">
    <div class="col-sm m-auto text-center">
        <h3 class="titre">Bonjour et bienvenue sur mon site web !</h3>
    </div>
</div>

<div class="row mb-5">
    <div class="col-lg-6 d-none d-lg-block m-auto text-center">
        <img id="profile-image" style="border-radius: 15%;" src="{{ photo_de_profil }}" width="200" alt="photo de profil"/>
    </div>
    <div class="col-lg-6">
        <p>
            Moi c'est Mehdi, je suis un développeur freelance talentueux et passionné, spécialisé dans le développement web et mobile.
            Mes compétences couvrent une grande variété de technologies telles que PHP, Symfony, HTML, CSS, jQuery, JavaScript, Git, Linux et MySQL, et je suis capable de développer des fonctionnalités, d'intégrer des API, et de réaliser tous types de projets de développement.
        </p>
        <p>
            Je suis fier de mon expertise et de ma passion pour le développement, qui me permettent de livrer des applications fiables et performantes à mes clients.
            Mon objectif est de vous aider à réaliser toutes vos idées et à les transformer en applications fiables et performantes.
        </p>
        <p>
            N'hésitez pas à <a class="btn_contact" href="#" data-url="{{ path('app_portfolio_contact') }}">me contacter</a> pour discuter de vos projets et de la façon dont je peux vous aider à les concrétiser.
            Je suis impatient de vous aider à atteindre vos objectifs !
        </p>
    </div>
</div>
{% include "Portfolio/portfolio/articles.html.twig" %}