{% extends 'Portfolio/base.html.twig' %}

{% block title %}Erreur interne{% endblock %}

{% block body %}
    <div id="top_section" class="banner_main">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="bluid">
                        <h1>Erreur interne</h1>
                        <h2>Une erreur interne est survenue</h2>
                        <p>Si vous avez souhaitez retrouver votre chemin cliquez sur le logo tout en haut de la page</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}