{% extends 'Portfolio/base.html.twig' %}

{% block title %}Page inaccessible{% endblock %}

{% block body %}
    <div id="top_section" class="banner_main">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="bluid">
                        <h1>Page inaccessible</h1>
                        <h2>La page que vous recherchez n'est pas accessible</h2>
                        <p>Si vous vous êtes perdu cliquez sur le logo tout en haut de la page afin de retrouver votre chemin</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}