{% extends 'base.html.twig' %}

{% block title %}Générateur de profil aléatoire{% endblock %}

{% block body %}
<body>
    <button class="generate_profil" data-url="{{ path('app_get_api') }}">Donne moi un profil !</button>
    <div id="profil"></div>
</body>
{% endblock %}
